[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
minsearch = "*"
pydantic = "*"
openai = "*"
jupyter = "*"
python-dotenv = "*"
tqdm = "*"
pandas = "*"
toyaikit = "*"
streamlit = "*"
psycopg = {extras = ["binary"], version = "*"}
opentelemetry-api = "*"
opentelemetry-sdk = "*"
gitsource = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.20"
